Tensorflow/0_General/RNN/text_classification_1/files/
Tensorflow/Tensorflow_Specialization/1_Introduction/week3_CNN/files/
.idea/
*.pyc
*.xml
__pychache__/
*.h5
logs/
Trained_Models/

Scikit-Learn/Hands_On_Book/Repo
Projects/Hotel-Reviews-Ideathon/files/
Projects/Hotel-Reviews-Ideathon/*.pickle